# dependencies
**/node_modules

# testing
/coverage

# next.js
**/.next/

# production
**/build

# local files
**/*.pem
content/
mysql/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets
**/secrets/
**/*.env
