@font-face {
  font-family: "RJ-Roboto";
  src: url("/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-style: normal;
  src: url("/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-style: italic;
  src: url("/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: bold;
  src: url("/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: bold;
  font-style: italic;
  src: url("/roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 100;
  src: url("/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 300;
  src: url("/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 500;
  src: url("/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 900;
  src: url("/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RJ-Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("/roboto/Roboto-BlackItalic.ttf") format("truetype");
}
